/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
.idoll-alert {
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  padding: 8px 15px 8px 37px;
  border-radius: 4px;
}
.idoll-alert-warning {
  border: 1px solid #faad14;
  background-color: #E6F7FF;
}
.idoll-alert-warning .idoll-alert-icon {
  color: #faad14;
}
.idoll-alert-error {
  border: 1px solid #91D5FF;
  background-color: #f5222d;
}
.idoll-alert-error .idoll-alert-icon {
  color: #f5222d;
}
.idoll-alert-with-description .idoll-alert-message {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  display: block;
  margin-top: 4px;
}
