@import "../../style/theme/default/index";
@import "../../style/mixins/index";

.button-default {
  color: @primary-color;
  border: 1px solid @primary-color;
}

.button-default:hover {
  background-color: @primary-spread-color !important;
  color: @body-background !important;
}

.button-default:focus {
  background-color: @primary-spread-color !important;
  color: @body-background !important;
}

.button-a,
.button-a:active,
.button-a:focus {
  text-decoration: none;
  outline: 0;
}


