/**
 * layout 分坐席端和管理人员端，不同管理端布局有所区分
 **/
@layout-backgound-color: #f0f2f5;
@sider-basic-w-size: 32px;
@content-background-color: #eeeff4;
@header-h-size: 88px;
@footer-h-size: 44px;
@sider-backgroud-color: #4183d0;
@header-backgroud-color: #cccccc;
@footer-backgroud-color: #cccccc;
@side-font-size: 16px;
@side-font-color: #4183d0;
