/**
 * layout 分坐席端和管理人员端，不同管理端布局有所区分
 **/
@seat-side-open-w-size: 116px;
@seat-side-hide-w-size: 44px;
@seat-header-h-size: 88px;
@seat-footer-h-size: 44px;
@seat-content-nav-w-size: 320px;
@seat-side-backgroud-color: #4183d0;
@seat-header-backgroud-color: #4183d0;
@seat-side-font-size: 16px;
@seat-side-font-color: #fff;

@admin-side-w-size: 140px;
@admin-header-h-size: 60px;
