@import '../../../style/theme/default/index';

.@{idoll-prefix}-layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: @layout-backgound-color;
}

.@{idoll-prefix}-layout-has-sider {
  flex-direction: row;
}

.@{idoll-prefix}-layout-sider {
  position: relative;
  width: @layout-sider-basic-width;
  height: 100%;
  background-color: @layout-sider-background
}

.@{idoll-prefix}-layout-sider-44 {
  width: 44px;
}

.@{idoll-prefix}-layout-sider-116 {
  width: 116px;
}

.@{idoll-prefix}-layout-sider-140 {
  width: 140px;
}

.@{idoll-prefix}-silder-toggle-hiden{
  position: absolute;
  top: 20px;
  right: 6px;
}

.@{idoll-prefix}-silder-toggle-open{
  position: absolute;
  top: 20px;
  right: -30px;
}

.@{idoll-prefix}-layout-sider-1 {
  width: @layout-sider-basic-width + 12;
}

.@{idoll-prefix}-layout-sider-2 {
  width: @layout-sider-basic-width + 12*2;
}

.@{idoll-prefix}-layout-sider-3 {
  width: @layout-sider-basic-width + 12*3;
}

.@{idoll-prefix}-layout-sider-4 {
  width: @layout-sider-basic-width + 12*4;
}

.@{idoll-prefix}-layout-sider-5 {
  width: @layout-sider-basic-width + 12*5;
}

.@{idoll-prefix}-layout-sider-6 {
  width: @layout-sider-basic-width + 12*6;
}

.@{idoll-prefix}-layout-sider-7 {
  width: @layout-sider-basic-width + 12*7;
}

.@{idoll-prefix}-layout-sider-8 {
  width: @layout-sider-basic-width + 12*8;
}

.@{idoll-prefix}-layout-sider-9 {
  width: @layout-sider-basic-width + 12*9;
}

.@{idoll-prefix}-layout-sider-10 {
  width: @layout-sider-basic-width + 12*10;
}

.@{idoll-prefix}-layout-header {
  width: 100%;
  height: @layout-header-base-height;
  background-color: @layout-header-background;
}

.@{idoll-prefix}-layout-header-1{
  height: @layout-header-base-height + 15*1;
}

.@{idoll-prefix}-layout-header-2{
  height: @layout-header-base-height + 15*2;
}

.@{idoll-prefix}-layout-content {
   width: 100%;
   height: 100%;
   background-color: @layout-content-background;
}

.@{idoll-prefix}-layout-footer {
  width: 100%;
  height: @layout-footer-height;
  background-color: @layout-footer-background;
}