// // Layout
// @layout-body-background      : #f0f2f5;
// @layout-header-background    : @primary-color;
// @layout-footer-background    : @layout-body-background;
// @layout-header-height        : 64px;
// @layout-header-padding       : 0 50px;
// @layout-footer-padding       : 24px 50px;
// @layout-sider-background     : @layout-header-background;
// @layout-trigger-height       : 48px;
// @layout-trigger-background   : #002140;
// @layout-trigger-color        : #fff;
// @layout-zero-trigger-width   : 36px;
// @layout-zero-trigger-height  : 42px;

//自定义
@layout-header-background: @primary-color;
@layout-backgound-color: @component-background;
@layout-sider-basic-width: 32px;
@layout-content-background: @component-background;
@layout-header-base-height: 60px;
@layout-footer-height: 44px;
@layout-header-background    : @primary-color;
@layout-sider-background: @primary-color;
@layout-footer-background: @primary-color;
// 特定场景下header高度
@layout-header-seat: 60px;
@layout-header-admin: 90px;