// Layout
@layout-body-background      : #f0f2f5;
@layout-header-background    : #001529;
@layout-footer-background    : @layout-body-background;
@layout-header-height        : 64px;
@layout-header-padding       : 0 50px;
@layout-footer-padding       : 24px 50px;
@layout-sider-background     : @layout-header-background;
@layout-trigger-height       : 48px;
@layout-trigger-background   : #002140;
@layout-trigger-color        : #fff;
@layout-zero-trigger-width   : 36px;
@layout-zero-trigger-height  : 42px;

//
@layout-backgound-color: #f0f2f5;
@sider-basic-w-size: 32px;
@content-background-color: #eeeff4;
@header-h-size: 88px;
@footer-h-size: 44px;
@sider-backgroud-color: #4183d0;
@header-backgroud-color: #cccccc;
@footer-backgroud-color: #cccccc;
@side-font-size: 16px;
@side-font-color: #4183d0;